################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FSharpMarkdown/obj
/FSharpMarkdown/bin
/FSharpMarkdown/.vs/FSharpMarkdown/v16
/FSharpMarkdown/.vs/FSharpMarkdown/DesignTimeBuild
